In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
fifa_df = pd.read_csv('./fifa_world_cup.csv')

In [3]:
fifa_df.index

RangeIndex(start=0, stop=23921, step=1)

In [4]:
fifa_df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# The Longest Winning Streak Away vs Home

In [6]:
awayTeam = fifa_df.groupby(['away_team']).size()

awayTeamWins = fifa_df.loc[fifa_df['home_team_result'] == 'Lose']
allAwayWins = awayTeamWins['away_team'].value_counts()
allAwayWins

Brazil                   120
Spain                    101
Germany                  101
Zambia                    88
Argentina                 86
                        ...
Timor-Leste                1
Anguilla                   1
American Samoa             1
São Tomé and Príncipe      1
Andorra                    1
Name: away_team, Length: 209, dtype: int64

In [7]:
homeTeam = fifa_df.groupby(['home_team']).size()

homeTeamWins = fifa_df.loc[fifa_df['home_team_result'] == 'Win']
allHomeWins = homeTeamWins['home_team'].value_counts()
allHomeWins

USA                         194
Mexico                      190
Brazil                      181
Saudi Arabia                164
Egypt                       163
                           ...
Cook Islands                  2
Turks and Caicos Islands      2
US Virgin Islands             2
Anguilla                      1
San Marino                    1
Name: home_team, Length: 211, dtype: int64

In [11]:

# Group the data by the 'home_team' and 'away_team' columns
homeTeamWins = fifa_df.groupby('home_team')['home_team_result'].apply(lambda x: x[x=='Win'].count())
awayTeamWins = fifa_df.groupby('away_team')['home_team_result'].apply(lambda x: x[x=='Lose'].count())

# Combine the home and away wins into a single data frame
wins_df = pd.DataFrame({'home_team': homeTeamWins, 'away_team': awayTeamWins})
wins_df = wins_df.fillna(0)

# Calculate the total wins for each team
wins_df['total_wins'] = wins_df['home_team'] + wins_df['away_team']

# Sort the data by total wins in descending order
wins_df = wins_df.sort_values('total_wins', ascending=False)

# Calculate the cumulative sum of wins for each team
wins_df['cumsum'] = wins_df['total_wins'].cumsum()

# Find the team with the longest winning streak
longest_streak = wins_df[wins_df['cumsum'] == wins_df['cumsum'].max()]

# Print the result
print(longest_streak)

            home_team  away_team  total_wins  cumsum
San Marino          1          0           1   18532

In [13]:

# Group the data by the 'home_team' and 'away_team' columns
home_team_wins = fifa_df.groupby('home_team')['home_team_result'].apply(lambda x: x[x=='Win'].count())
away_team_wins = fifa_df.groupby('away_team')['home_team_result'].apply(lambda x: x[x=='Lose'].count())

# Combine the home and away wins into a single data frame
wins_df = pd.DataFrame({'home_team': home_team_wins, 'away_team': away_team_wins})
wins_df = wins_df.fillna(0)

# Calculate the total wins for each team
wins_df['total_wins'] = wins_df['home_team'] + wins_df['away_team']

# Sort the data by total wins in descending order
wins_df = wins_df.sort_values('total_wins', ascending=False)

# Calculate the cumulative sum of wins for each team
wins_df['cumsum'] = wins_df['total_wins'].cumsum()

# Find the team with the longest winning streak
longest_streak = wins_df[wins_df['cumsum'] == wins_df['cumsum'].max()]

# Print the result
print(longest_streak)

            home_team  away_team  total_wins  cumsum
San Marino          1          0           1   18532