In [16]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [17]:
fifa_df = pd.read_csv('./sport/fifa_world_cup.csv')

In [18]:
pd.set_option('display.max_columns', None)
fifa_df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,1,FIFA World Cup qualification,La Paz,Bolivia,False,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,1,Friendly,Maceió,Brazil,False,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,0,FIFA World Cup qualification,Quito,Ecuador,False,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,0,Friendly,Conakry,Guinea,False,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,3,FIFA World Cup qualification,Asunción,Paraguay,False,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
fifa_df.index

RangeIndex(start=0, stop=23921, step=1)

In [71]:
#Count the win home team
win_home_team = fifa_df.loc[fifa_df['home_team_result'] == 'Win']
most_win_home_team = win_home_team['home_team'].value_counts()
most_win_home_team.sort_values(ascending=False)
most_win_home_team

USA                         194
Mexico                      190
Brazil                      181
Saudi Arabia                164
Egypt                       163
                           ...
Cook Islands                  2
Turks and Caicos Islands      2
US Virgin Islands             2
Anguilla                      1
San Marino                    1
Name: home_team, Length: 211, dtype: int64

In [73]:
#Count home_team_result = Lose means away team won the game
win_away_team = fifa_df.loc[fifa_df['home_team_result'] == 'Lose']
most_win_away_team = win_away_team['away_team'].value_counts()
most_win_away_team.sort_values(ascending=False)
most_win_away_team

Brazil                   120
Spain                    101
Germany                  101
Zambia                    88
Argentina                 86
                        ...
Timor-Leste                1
Anguilla                   1
American Samoa             1
São Tomé and Príncipe      1
Andorra                    1
Name: away_team, Length: 209, dtype: int64

In [76]:
win_home_team_con = fifa_df.loc[fifa_df['home_team_result'] == 'Win']
most_win_home_team_con = win_home_team_con['home_team_continent'].value_counts()
most_win_home_team_con.sort_values(ascending=False)
most_win_home_team_con

Europe           3517
Africa           2942
Asia             2585
North America    1369
South America    1062
Oceania           286
Name: home_team_continent, dtype: int64

In [77]:
win_away_team_con = fifa_df.loc[fifa_df['home_team_result'] == 'Lose']
most_win_away_team_con = win_away_team_con['away_team_continent'].value_counts()
most_win_away_team_con.sort_values(ascending=False)
most_win_away_team_con

Europe           2435
Africa           1513
Asia             1286
North America     700
South America     657
Oceania           180
Name: away_team_continent, dtype: int64

In [106]:
tournament = fifa_df['city'].value_counts().reset_index(name='counts')

tournament

            index  counts
0            Doha     397
1         Bangkok     215
2          Muscat     212
3     Kuwait City     202
4       Abu Dhabi     191
...           ...     ...
1571      Dunedin       1
1572       Manisa       1
1573  Mondercange       1
1574     Veracruz       1
1575     Vitsebsk       1

[1576 rows x 2 columns]